.bg-firstcolor {
    background-color: #2C3E50;
}
.bg-aqua {
    background-color: #1ABC9C;
}
.btn.bg-aqua {
    color: white;
}
h1 {
    font-size: 3.5em;
}
h2 {
    font-size: 3em;
}
.text-standard {
    font-size: 1.5em;
}
.text-small {
    font-size: 1.2em;
}
.text-darkgrey {
    color: #333333;
}
.text-blue {
    color: #2C3E50;
}
.star {
    font-size: 28px;
    vertical-align: middle;
}
.star-divider::before {
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
}
.star-divider::after {
    content: "";
    display: inline-block;
    width: 10%;
    height: 3px;
}
.white.star-divider::after,
.white.star-divider::before {
    background-color: white;
}
.blue.star-divider::after,
.blue.star-divider::before {
    background-color: #2C3E50;
}
.link {
    color: #1ABC9C;
    text-decoration: none;
}
.link:hover {
    color: white;
    text-decoration: underline;
}

#logo-header {
    font-weight: 700;
}
#navbarNav {
    font-weight: 500;
}

#hero .avatar {
    width: 220px;
}

#portfolio img {
    width: 100%;
    border-radius: 10px;
}

#bottom-info {
    background-color: #3A546D;
}
footer a {
    text-decoration: none;
}
footer .social-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    border: 1px solid white;
    color: white;
}

#contact-me input,
#contact-me textarea {
    border-width: 0 0 1px 0;
    border-radius: 0;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    .text-standard {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    .text-standard {
        font-size: .9em;
    }
}

