div[class*="col"] {
    height: 200px;
    border: 2px solid black;
}

header,
#copyright {
    background-color: #2C3E50;
}

#hero,
#about {
    background-color: #1ABC9C;
}

footer {
    background-color: #3A546D;
}